@font-face {
    font-family: 'harry-potter';
    src: url('https://fonts.cdnfonts.com/css/harry-potter');
}

header{
    height: 170px;
    background-color: #f2eeac;
    opacity: 0.8;
}

header img{
    float: left;
    height: 80px;
    width: 80px;
    margin: 50px;
}

header h1{
    float: left;
    margin: 50px 0 0 30px;
    font-size: 60px;
    color: #593a27;
    font-family: 'harry-potter';
}

header h2{
    float: left;
    margin: 50px 0 0 30px;
    font-size: 45px;
    color: #593a27;
    font-family: 'harry-potter';
}

section #topo{
    width: 500px;
    margin: 0px auto;
    height: 250px auto;
    background-color: #A68F65;
}

.vassoura{
    height: 125px;
    width: 125px;
    float: left;
}

.varinha{
    height: 125px;
    width: 125px;
    float: right;
}

section #titulos{
    float: left;
    height: 250px;
    width: 650px;
    margin: 0px auto;
}

.carta{
    height: 125px;
    width: 125px;
    float: left;
}

h2{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 50px;
}

h3{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

body{
    margin: 0 auto;
    font-family: 'harry-potter', sans-serif;
}

h1{
    font-family: 'harry-potter';
}