header {
    margin-top: 0%;
    margin-left: -1.2%;
    height: 110px;
    width: 100%;
    background-color: #f2eeac;
    position: fixed;
    z-index: 999px;
}

header h1 {
    top: 200;
    float: left;
    margin: 20px 0 0 30px;
    font-size: 50px;
    color: #593a27;
    font-family: 'harry-potter';
}

section {
    top: 30px;
    float: center;
    margin: 110 0 0 110;
    height: 110px;
    width: 80%;
    height: auto;
    background: url(../imgs/background-video.mp4);
    background-color: #f2eeac;
    opacity: 0.6;
    position: relative;
    border-radius: 30px;
}

#inscricao{
    top: 12%;
    margin-top: 180px;
    margin-bottom: 150px;
    float: center;
    margin: 110 0 0 110;
    height: 110px;
    width: 80%;
    height: auto;
    background: url(../imgs/background-video.mp4);
    background-color: #f2eeac;
    opacity: 0.6;
    position: relative;
    border-radius: 30px; 
}

section form{
    top: 30px;
    float: center;
    margin: 110 0 0 110;
    height: 110px;
    width: 80%;
    height: auto;
    background: url(../imgs/background-video.mp4);
    background-color: #f2eeac;
    opacity: 0.8;
    position: relative;
    border-radius: 30px;
    overflow-y: visible;
}

footer {
    background-color: #f2eeac;
    width: 97.4%;
    -webkit-width: 97.4%;
    height: auto;
    color: #593a27;
    text-align: right;
    padding: 10px;
    margin: 0%;
    position: absolute;
    margin-bottom: 0%;
    bottom: 0%;
    -webkit-margin-bottom: 0%;
}

section #topo {
    top: 20px;
    float: center;
    width: 900px;
    margin: 0px auto;
    height: 250px auto;
}

.vassoura {
    float: center;
    height: 110px;
    width: 125px;
    float: left;
    margin-top: 1em;
}

section #titulos {
    float: center;
    height: 110px;
    width: 650px;
    margin: 1em auto;
}

section p {
    clear: both;
    text-align: justify;
    text-indent: 2em;
    margin: 10px 20px 20px 10px;
}

section #corpo {
    float: center;
    height: auto;
    width: auto;
    font-size: 1.3em;
}

.carta {
    float: left;
    height: 50px;
    width: 50px;
    float: left;
}

h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 50px;
}

h3 {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

body {
    margin: 0 auto;
    font-family: 'calibri', sans-serif;
}

h1 {
    font-family: 'harry-potter';
}

.inscricao {
    width: 300px;
    margin: 0px auto;
    font-weight: bold;
    margin-bottom: 10px;
}

.inscricao input,
.inscricao text,
.inscricao radio,
.inscricao date {
    width: 280;
    margin: 5px auto;
    padding: 5px 0;
}

.termo {
    width: 300px;
    margin: 0px auto;
    font-weight: bold;
    margin-bottom: 10px;
}

.termo button {
    width: 300px;
    margin: 0px auto;
    font-weight: bold;
    margin-bottom: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
}

nav .opcao {
    float: right;
    width: 12%;
    background-color: #8C2703;
    padding: 6px 0;
    margin: 30px 1%;
    font-size: 20px;
    border-radius: 30px;
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll
}

.banner video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
}

form {
    position: fixed;
    object-fit: fill;
    width: 100%;
    height: 100%;
}

legend {
    font-family: 'harry-potter';
}

.coluna {
    width: 15%;
    -webkit-width: 15%;
    -ms-width: 15%;
    height: 350px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    background-color: #f2eeac;
    opacity: 0.8;
    padding: 1em 1em 1em 1em;
    display: contents;
    margin: 1em 1em;
}

.coluna p {
    text-align: center;
}

.coluna .antes {
    align-content: center;
    padding-left: 20%;
    width: 90px;
    height: 90px;
}

hr {
    color: black;
    width: 80%;
}
